<table>
    <thead>
        <tr>
            <td>nome</td>
            <td>descrição</td>
            <td>preço</td>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{nome}}</td>
            <td>{{preco}}</td>
            <td>{{descricao}}</td>
        </tr>
    </tbody>
</table>